
@{
    ViewBag.Title = "Pantalla Principal";
}
<img src="~/Images/SendGrid.png"  width="150px" height="150px"/>
<div class="btn-toolbar">
    <button type="button" class="btn btn-info">
        @Html.ActionLink("Contacta con Nosotros", "EnviarCorreo")
    </button>
    <button class="btn btn-warning"> Ver Cesta</button>
    <button class="btn btn-default"> Ver Tiendas </button>

</div>